# Instructions

Lab 3 consists of 5 questions. There *may* be more questions added after lecture on Thursday, making a total of 10 questions.

● Once completed, you will submit all 10 exercises as jupyter notebooks (as a single .ipynb file) through e-mail at 'tahiya.chowdhury@rutgers.edu' for grading.

● In the e-mail, use subject line: `CPSML: Week 3 _ your full name`

● Both the jupyter notebook and e-mail should contain your name in English.

## Pandas

- In this lab you will start using `pandas`, which is a data science library. 
- Pandas adds data structures and tools designed to work with 
- It provides tools for data manipulation: reshaping, merging, sorting, slicing, aggregation etc.
- It allows handling missing data

In [75]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.7/site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.19.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [76]:
import pandas as pd          ## importing pandas library as pd
df_salaries = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/Salaries.csv")
df_salaries.head(10)                  ## showing the first 10 rows of the data
print(df_salaries.shape)

(78, 6)

## Problem 1

- Use pandas to read the file you downloaded in week 2 lab from here: https://sensor.informatik.uni-mannheim.de/#dataset_realworld_subject1
- Print the first and last 10 lines. Hint: Use `df.head()` and `df.tail()`
- Print the columns names. Hint: use `df.columns` command.
- Remove the first and second column. Print the dataframe now.
- Print the size, the shape and the datatypes of the dataframe.
- Print only the values of the dataframe (numpy representation). Hint: Use `df.values` command.

## Problem 2

In [77]:
df_salaries = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/Salaries.csv")
df_salaries.head(10)

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800

- Consider `df_salaries` mentioned above, which contains salary data.
- Check the datatype of `discipline` and `salary` columns. Print it.
- Print the maximum and minimum value of each column of the dataframe. Hint: Use `max()` and `min()` function.
- Print the mean, meadian and standard deviation value of each column of the dataframe. Hint: Use `mean()`, `median()` and `std()` function.
- Apply `df.describe` to view common statistics about the data. Print it.
- Find if there are missing values in the dataframe. Drop record with missing values using `df.dropna()`. Print it.

## Problem 3

- Group the data entries based on discipline (A, B). Hint: Use `df.groupby([column_name])` function.
- Calculate the mean, max, min, median value per group. Print them.
- Repeat step 1 and 2 to group data based on sex and rank.
- Show the dataframe in sorted form in terms of salary (lowest salary to highest). Hint: use `df.sort_values` function.

## Problem 4

- Create a new dataframe `df_male` with only the entries of Male professors. Hint: Select `Male` entries only. Print it.
- Create a new dataframe `df_high` with female entries with salaries higher or equal to 150000. Print it.
- Create a new dataframe `df_assoc_profs`with Associate Professors data only.
- Sort the list by salary, service years and phd (Descending order)
- Create a new dataframe from the sorted list witch only 3 columns: rank, discipline and sex.
- Select only the top 50 entries.

## Problem 5

We will now use seaborn to do some visualization of the data.

In [81]:
#!pip install seaborn     ## this is for installing seaborn

- Plot the distribution of the salaries of the professors. Hint: Use `sns.distplot()`.
- Plot the distribution of the service and phd columns. Hint: Use `sns.distplot`.
- Plot a scatterplot with salary on x axis and service on y axis. Repeat this for (salary, phd) and (phd, service). Do you observe any pattern in the plot?  Hint:  Use `sns.scatterplot(x, y)`.
- Plot a pairplot of the data to see inter-column relationships. Hint: Use `sns.pairplot()`.